<div style="background-color:#f9f9f9; padding:20px 10px">
    <h1 style="color:#222">RESET YOUR PASSWORD</h1>
    <p style="color:#222">
        Hai, {{ nama }}. Sillahkan klik link dibawah ini untuk reset password kamu :)) 
    </p>
    <br>
    <a href="{{ link }}" style="background-color:#090057; text-decoration:none; text-align:center; padding:10px; border-radius:5px; color:#fff">Reset Password!</a>
</div>