<div style="background-color:#f9f9f9; padding:20px 10px">
    <h1 style="color:#222">KODE KONFIRMASI</h1>
    <p style="color:#222">
        Hai, {{ nama }}. Sillahkan masukkan kode dibawah ini untuk aktivasi akunmu yaa :) 
    </p>
    <br>
    <h2>{{ kodeKonfirmasi }}</h2>
</div>